pyttsx3>=2.90
SpeechRecognition>=3.10.0
sounddevice>=0.4.6
numpy>=1.26.0
pyautogui>=0.9.54
pycaw>=20240210
comtypes>=1.4.0
customtkinter>=5.2.2
requests>=2.31.0
python-dotenv>=1.0.1
pywin32>=306
pillow>=10.0.0
openai>=1.40.0
